body {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h2 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 6%;
}

.icon {
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#title {
  background-color: #ff4c68;
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 13%;
  margin: 20px 20px 50px;
}

.feature-box {
  text-align: center;
}

.row {
  margin-top: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

.fas {
  color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1160px) {
  #title {
    text-align: center;
  }

  .title-img {
    width: 60%;
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  color: white;
  text-align: center;
  padding: 5% 16% 5%;
}

.tag-line {
  font-size: 3rem;
  line-height: 1.5
}

#footer {
  text-align: center;
  padding: 4rem;
}

.icon-footer {
  padding: 1rem;
  margin-top: 5%;
  color: black;
  font-size: 1rem;
}

.foot-para {
  font-weight: 500;
}
